<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/inter-ui@3.7.0/inter.min.css">
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <div class="container">
        <div class="element-form-container">
            <div class="form-card">
                <div class="card-logo">
                    <h2>TeamX</h2>
                </div>
                <div class="card-title">
                    <p>Welcome to the future of mobility and engagement analytics</p>
                </div>

                <div class="content">
                    <a href="signup" class="option"> Sign Up</a>
                    <a href="signin" class="option"> Sign In</a>
                </div>

            </div>
        </div>
    </div>
  </body>
</html>