<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/inter-ui@3.7.0/inter.min.css">
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <div class="container">
        <div class="element-form-container">
            <div class="form-card">
                <div class="card-logo">
                    <h2>TeamX</h2>
                </div>
                <div class="card-title">
                    <p>Create an account</p>
                </div>

                <p><%= signupError %></p>

                <div class="card-content">
                    <form action="signup" method="post">
                        <div class="form-input">
                            <input type="text" name="fullname" placeholder="Full name" />
                        </div>
                        <div class="form-input">
                            <input type="email" name="email" placeholder="Email Address" />
                        </div>
                        <div class="form-input">
                            <input type="password" name="password" placeholder="Password" />
                        </div>
                        <!--<div class="form-input">
                            <input type="password" name="confirmPassword" placeholder="Confirm password" />
                        </div>-->
                        <div class="terms">
                            <p>By clicking create account below, you agree to our privacy policy and terms of service.</p>
                        </div>
                        <div class="form-input">
                            <input type="submit" name="submit" value="Create account" />
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="card-option">
                    <p>Already have an account? <span><a href="signin">Log in.</a></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>